@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');

$montserrat: 'Montserrat', sans-serif;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: $montserrat;
    color: #737373;
    font-size: 14px;
    font-weight: 500;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6{
    color: #252B42;
    text-transform: uppercase;
}
button{
    cursor: pointer;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0px 15px;
}
.title{
    font-size: 40px;
    max-width: 511px;
    margin: 0 auto 10px;
}
.subtitle{
    max-width: 511px;
    margin: 0 auto 50px;
}

.btn{
    padding: 10px 36px;
    font-weight: 700;
    font-size: 14px;
    outline: none;
    border: 1px solid #FFA62B;
    background: #FFA62B;
    color: #fff;
    transition: .5s all;
    cursor: pointer;
    &:hover{
        background: none;
        color: #FFA62B;
    }
}
.btn_bgnone{
    border: 1px solid #00A0C1;
    color: #00A0C1;
    background: none;
    margin-left: 10px;
    
    &:hover{
        background: #00A0C1;
        color: #fff;
    }
}

@media (max-width: 540px) {
    .container{
        padding: 0px 30px;
    }
    .btn{
        font-size: 12px;
    }
}